<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
<appSettings>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
</appSettings>
<connectionStrings>
  <add name="dbconnection" connectionString="Data Source=HP;Initial Catalog=Customised gifts zone;Integrated Security=True" />
  <add name="Customised gifts zoneConnectionString" connectionString="Data Source=HP;Initial Catalog=&quot;Customised gifts zone&quot;;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>